
body {
  font-family: Arial, Helvetica, sans-serif;
}

/****************************************  Menu  *********************************************************/
@import './general/menuHeader';

/********************************* Section Main Carousel Container ***************************************/
@media (max-width: 768px) {
  .mainCarouselContainer{
    margin-top: 61px
  }
}

/****************************************  Section Event  ***********************************************/
.eventContainer {
  max-width: 960px;
  margin: 0 auto;
  padding: 60px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.eventTitle {
  text-align: center;
  margin-bottom: 60px;
 
  h2 {
    @include title-large($primary-color, 2.25rem);
    @include separator($primary-color, 60px)
  }
}

.event {
  display: flex;
  margin-bottom: 40px;

  img {
    width: 450px;
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
  }

  > div {
    width: 300px;
    margin-left: 20px;
    h3 {
      margin-bottom: 15px;
      @include title-large($black,  1.5rem)
    }
  }
}

.event:nth-last-child(1){
  margin-bottom: 0px;
}

.buttonLearnMoreAboutEvent {
  @include button;
}

.buttonLearnMoreAboutEvent:hover {
  background-color: $white;
  color: $primary-color;
  text-decoration: none;
}

@media (max-width: 768px){
  .eventContainer{
    height: auto;
    padding: 30px 0;
  }
  .eventTitle{
    margin-bottom: 15px;
    h2{
      font-size: 1.625rem;
    }
  }
}

@media (max-width: 768px){
  .event{
    flex-direction: column;

    img {
      width: 300px;
    }

    >div {
      align-items: center;
      margin-top: 15px;
      margin-left: 0;
      width: 300px; 
    }
  }

  .buttonLearnMoreAboutEvent{
    margin-top: 5px;
    width: 300px;
  }
}

/****************************************  Photo Gallery Section  ****************************************/
.containerPhotoGallery {
  background-color: #2C706A;
  margin-bottom: 40px;
  padding: 70px 0;

  >div {
    max-width: 960px;
    margin: 0 auto;
    
    a {
      color: $black
    }

    a:hover{
      color: $primary-color
    }
  }
}

.titlePhotoGallery {
  text-align: center;
  margin-bottom: 60px;
 
  h2 {
    @include title-large($white, 2.25rem);
    @include separator($white, 60px)
  }
}

.photoCarouselControlButton {
  display: flex;
  justify-content: space-between;
  width: 150px;
  margin: 0 auto;
  margin-bottom: 15px;

  a {
    // color: #2C706A;
    // background-color: $primary-color;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
  }
}

.card {
  border: 0;
}

.card-body {
  h4 {
    font-size: 1.625rem
  }
  p {
    font-size: 1rem;
  }
}

@media (max-width: 768px){
  .containerPhotoGallery{
    padding: 20px 0;
  }

  .titlePhotoGallery {
    margin-bottom: 15px;
    h2{
      font-size: 1.625rem;
    }
  }
}

@media (min-width: 768px) {
  .multi-item-carousel .carousel-inner .carousel-item {
    margin-right: inherit;
  }
  
  .multi-item-carousel .carousel-inner .carousel-item.active + .carousel-item, 
  .multi-item-carousel .carousel-inner .carousel-item.active + .carousel-item + .carousel-item {
    display: block;
  }

  .multi-item-carousel .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left), .multi-item-carousel .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item, .multi-item-carousel .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item {
    transition: none;
  }

  .multi-item-carousel .carousel-inner .carousel-item.active + .carousel-item + .carousel-item + .carousel-item {
    position: absolute;
    top: 0;
    right: -33.333333333333%;
    z-index: -1;
    display: block;
    visibility: visible;
  }

  .multi-item-carousel .carousel-inner .carousel-item-next, 
  .multi-item-carousel .carousel-inner .carousel-item-prev {
    position: relative;
    transform: translate3d(0,0,0);
  }

  .multi-item-carousel .carousel-inner .carousel-item-prev.carousel-item-right {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: block;
    visibility: visible;
  }

  .multi-item-carousel .active.carousel-item-left + .carousel-item-next.carousel-item-left, 
  .multi-item-carousel .carousel-item-next.carousel-item-left + .carousel-item, 
  .multi-item-carousel .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item, .multi-item-carousel .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item {
    position: relative;
    transform: translate3d(-100%,0,0);
    visibility: visible;
  }

  .multi-item-carousel .active.carousel-item-right + .carousel-item-prev.carousel-item-right, 
  .multi-item-carousel .carousel-item-prev.carousel-item-right + .carousel-item, 
  .multi-item-carousel .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item, 
  .multi-item-carousel .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item {
    position: relative;
    transform: translate3d(100%,0,0);
    display: block;
    visibility: visible;
  }
}

/****************************************  Accommodation Section  ****************************************/
.containerAccommodation{
  background: url('../img/acomodacao.png') no-repeat center center;
  background-size: cover;

  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(0, 0, 0, 0.4);
    padding: 150px 0;
    text-align: center;
    color: $white;
  }
}

.containerAccommodation div h1 {
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: bold;
  @include separator($white, 20px);
}

.containerAccommodation div p {
  font-style: italic;
  font-size: 1.125em;
}

.buttonLearnMoreAboutUs {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 20px;
  background-color:  $primary-color;
  color: $white;
  border-radius: 4px;
  text-decoration: none;
  font-size: 1.125rem;
  text-transform: uppercase;
  margin-top: 40px;

  &:hover {
    background-color: $white;
    color: $primary-color;
    text-decoration: none;
  }
}

@media (max-width: 739px) {
  .containerAccommodation div {
    padding: 60px 0;
  }
  .containerAccommodation div h1 {
    font-size: 1.625rem;
  }
}

@media (max-width: 739px) {
  .buttonLearnMoreAboutUs {
    font-size: 1rem;
    padding: 8px 10px
  }
}

/****************************************  Footer  ******************************************************/
footer {
  height: 300px;
  margin-top: 100px;
  background: linear-gradient(to right, $black, $primary-color);
}
