
body {
  font-family: Arial, Helvetica, sans-serif;
}

/********************************* Section Main Carousel Container ***************************************/
@media (max-width: 768px) {
  .mainCarouselContainer{
    margin-top: 61px
  }
}

/****************************************  Section Event  ***********************************************/
.next-events{
  padding: 150px 0;
  background-image: url('../img//imageBackgroun.png');
}

.next-events a {
  text-decoration: none;
}

.eventContainer {
  max-width: 1350px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.eventTitle {
  text-align: center;
  margin-bottom: 60px;
 
  h2 {
    @include title-large($white, 2.25rem);
    @include separator($white, 60px)
  }
}

.containerImageEvent {
  max-width: 420px;
}

.event {
  display: flex;
  flex-direction: column;
  margin: 0 15px;
 
  img {
    height: 100%;
    width:  100%;
    display: block;
    transition: 0.5s all ease;
  }
}

.event img:hover {
  transform: scale(0.9);
}

.event h3 {
  margin-bottom: 5px;
  font-weight: bold;
  @include title-large($white,  1.5rem);
  @include separator($white, 100%)
}


.event:nth-last-child(1){
  margin-bottom: 0px;
}

.buttonLearnMoreAboutEvent {
  @include button;
}

.buttonLearnMoreAboutEvent:hover {
  background-color: $white;
  color: $primary-color;
  text-decoration: none;
}

@media (max-width: 768px){
  .next-events{
    height: auto;
    padding: 100px 0;
  }
  .eventContainer{
    flex-direction: column;
  }
  .event{
    padding: 20px 0;

    h3{
      font-size: 1.125rem;
    }
  }
  .eventTitle{
    margin-bottom: 15px;

    h2{
      font-size: 1.625rem;
    }
  }
}

/****************************************  Photo Gallery Section  ****************************************/
.containerPhotoGallery{
  padding: 100px 0;
}

.photo-gallery {
  max-width: 1200px;
  margin: 0 auto;
}

.titlePhotoGallery {
  text-align: center;
  margin-bottom: 60px;
 
  h2 {
    @include title-large($primary-color, 2.25rem);
    @include separator($primary-color, 60px)
  }
}

.cardPhotoGallery {
  height: 300px;
  border-radius: 8px;
  margin:  0 10px;
  background-color: #f1eff2;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4);
}

.cardPhotoGallery div {
  margin: 10px 20px;

  h2{
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
    color: $black;
  }
}

.photo-gallery img{
  width: 100%;
  height: 200px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.slick-track{
  height: 340px;
}

button.slick-prev {
  height: 50px;
  width: 50px;
  font-size: 0;
  border: none;
  border-radius: 50%;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
  background-image: url('../img/icons/iconBackBlack.png') ;
  background-color: white;
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center;
  position: absolute;
  z-index: 2;
  top: 150px;
  left: -60px;
}

button.slick-next {
  height: 50px;
  width: 50px;
  font-size: 0;
  border: none;
  border-radius: 50%;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
  background-image: url('../img/icons/iconNextBlack.png');
  background-color: white;
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center center;
  position: absolute;
  z-index: 2;
  top: 150px;
  right: -60px;
}

.slick-dots li button {
  font-size: 0px;
  border: 1px solid #fff;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  cursor: pointer;
}

.slick-dots{
  display: flex;
  width: 100%;
  justify-content: center;
}

li.slick-active button {
  background-color: $primary-color;
}

.slick-dots li{
  padding-left: 10px;
  display: inline-block;
}

@media (max-width: 739px) {
  button.slick-next {
    height: 30px;
    width: 30px;
    background-size: 30px;
    background-color: rgba(0, 0, 0, 0.4);
    background-image: url('../img/icons/iconNextWhite.png');
    right: 20px;
  }

  button.slick-prev {
    height: 30px;
    width: 30px;
    background-size: 30px;
    background-color: rgba(0, 0, 0, 0.4);
    background-image: url('../img/icons/iconBackWhite.png');
    left: 20px;
  }
}

@media (max-width: 768px){
  .titlePhotoGallery {
    margin-bottom: 15px;
    h2{
      font-size: 1.625rem;
    }
  }
}

/****************************************  Accommodation Section  ****************************************/
.containerAccommodation{
  background: url('../img/acomodacao.png') no-repeat center center;
  background-size: cover;

  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(0, 0, 0, 0.4);
    padding: 150px 0;
    text-align: center;
    color: $white;
  }
}

.containerAccommodation div h1 {
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: bold;
  @include separator($white, 20px);
}

.containerAccommodation div p {
  font-style: italic;
  font-size: 1.125em;
}

.buttonLearnMoreAboutUs {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 20px;
  background-color:  $primary-color;
  color: $white;
  border-radius: 4px;
  text-decoration: none;
  font-size: 1.125rem;
  text-transform: uppercase;
  margin-top: 40px;

  &:hover {
    background-color: $white;
    color: $primary-color;
    text-decoration: none;
  }
}

@media (max-width: 739px) {
  .containerAccommodation div {
    padding: 60px 0;
  }
  .containerAccommodation div h1 {
    font-size: 1.625rem;
  }
}

@media (max-width: 739px) {
  .buttonLearnMoreAboutUs {
    font-size: 1rem;
    padding: 8px 10px
  }
}

/****************************************  Footer  ******************************************************/
footer {
  background: url('../img/backgroundFooter.png');
  display: flex;
}

.container-footer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 0;
  display: flex;
  color: white;
}

@media (max-width: 760px){
  .container-footer{
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 40px 0;
  }
}

.container-footer h5 {
  font-size: 36px;
  margin-bottom: 5px;
}

.container-footer ul li{
  margin-bottom: 5px;
  padding: 5px 0;
  font-size: 18px;
  font-weight: bold;
}

.container-footer ul li a{
  color: white;
}

.container-footer ul li a:hover{
  font-size: 20px;
  text-decoration: none;
}


.logo-footer{
  width: 280px;
  margin: 0 10px;
}

.logo-footer img {
  height: 200px;
  width: 200px;
}

@media (max-width: 760px){
  .logo-footer img{
    height: 140px;
    width: 140px;
  }
}

.menu-footer{
  width: 280px;
  margin: 0 10px;

  margin-top: 30px;
}

.contact-footer{
  width: 280px;
  margin: 0 10px;
  margin-top: 30px;
}

.social-media-footer {
  width: 280px;
  margin: 0 10px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-media-footer div{
  display: flex;
  width: 150px;
  justify-content: space-between;
  align-items: center;
}

.social-media-footer div a img {
  width: 30px;
  height: 30px;
}

/****************************************  Back Top Button  ******************************************************/
.backTopButton{
  display: none;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  position: fixed;
  right: 20px;
  bottom: 20px;
  background-color: rgba(0, 0, 0, 0.4);
  background-image: url('../img/icons/iconTop.png');
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40px;
  z-index: 2000;
}

.backTopButton:hover{
  background-color: rgba(0, 0, 0, 0.8);
}

@media (max-width: 768px) {
  .backTopButton{
    height: 40px;
    width: 40px;
  }
}