body {
  font-family: Arial, Helvetica, sans-serif;
}

.containerServices {
  max-width: 960px;
  margin: 0 auto;
  margin-top: 40px;
}

@media (max-width: 768px) {
  .containerServices{
    margin-top: 61px
  }
}

.containerServices img {
  width: 100%;
  display: block;
  margin-bottom: 10px;
}

.containerServices img:nth-last-child(1){
  margin-bottom: 0;
}

@media (max-width: 739px){
  h1 {
    font-size: 1.25rem;
    padding: 15px 0;
  }
}
