.menuHeader {
  display: flex;
  flex-direction: column;
  background: linear-gradient(to right, $primary-color, $black);
  align-items: center;
  padding-top: 40px;
  padding-bottom: 20px;
}

.logo {
  display: block;
  max-width: 170px;
}

.navbar-toggler{
  padding: 0;
  font-size: 1rem;
  border: 0px
}

@media (max-width: 768px) {
  .menuHeader {
    position: fixed;
    top: 0;
    transform: translateY(0px);
    width: 100vw;
    z-index: 20;
    flex-direction: row;
    padding: 8px 20px;
    transition: transform 0.3s ease
  }
  .logo {
    width: 45px;
  }
}